pre {

   overflow-x: auto;

   code.language-typescript {

      .token {
         &.keyword {
            color: blue;
         }

         &.class-name, &.function {
            color: green;
         }

         &.string {
            color: red;
         }
      }
   }

   &.language-shell {
       padding: 24px 32px;
       background: #333;
       color: #eee;
   }
}
