pre {

   overflow-x: auto;

   code.language-typescript {

      .token {
         &.keyword {
            color: blue;
         }

         &.class-name, &.function {
            color: green;
         }

         &.string {
            color: red;
         }
      }
   }
}
